# SPDX-FileCopyrightText: 2024-present Stuart Ellis <stuart@stuartellis.name>
#
# SPDX-License-Identifier: CC0-1.0
#
# Tools that are required for this project
#
# This file may be read by mise-en-place, asdf and other utilities

python 3.10.14
task 3.38.0
terraform 1.5.7
trivy latest
