# SPDX-FileCopyrightText: 2024-present Stuart Ellis <stuart@stuartellis.name>
#
# SPDX-License-Identifier: CC0-1.0
#

# Include requirements for running the application
-r requirements-app.in

# Include requirements for testing the application
-r .python-requirements/testing.in
